:host {
    display: flex;
    flex-wrap: wrap;
}

.set-row {
    width: 100%;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.set-label {
    display: inline-block;
    min-width: 88px;
    padding-right: 16px;
}

.set-items {
    display: inline-block;
    flex: 288px 1 1;
    max-width: 100%;
}

.set-stats {
    display: inline-block;
    flex: 288px 0 0;
    max-width: 100%;

    .set-label {
        min-width: 56px;
    }
}

.set-value {
    flex-grow: 1;
    display: flex;
    align-items: center;
    
    .value {
        display: inline-block;
        min-width: 80px;
    }

    .compareValue {
        display: none;
        min-width: 80px;

        &.better {
            display: inline-block;
            color: green;

            &:before {
                content: '+'
            }
        }

        &.worse {
            display: inline-block;
            color: red;
        }
    }

    .icons img {
        vertical-align: sub;
    }
}

.ignore-button {
    all: unset; /* Resets all inherited styles */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-left: 8px;
    cursor: pointer;
    
    mat-icon {
        font-size: 16px;
        width: 16px;
        height: 16px;
        color: #f44336;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

